body {
    font-family: 'Open Sans', sans-serif;
    background-color: #FFFFFF;
    color: #000000;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    font-family: 'Lato', sans-serif;
}

h1, h2, h3 {
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"], input[type="password"], input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    font-family: 'Open Sans', sans-serif;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #333333;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
}

input[type="submit"]:hover {
    background-color: #444444;
}

a {
    text-decoration: none;
    color: #333333;
    font-family: 'Lato', sans-serif;
}

a:hover {
    color: #444444;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid #CCCCCC;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #F0F0F0;
}

/* Media query para dispositivos móviles */
@media (max-width: 768px) {
    .container {
        width: 100%;
        padding: 10px;
    }
}

/* Estilos para la página de login */

.login-container {
    max-width: 90%;
    margin: 20px auto;
    padding: 60px;
    background-color: #F7F7F7;
    border: 1px solid #CCCCCC;
    border-radius: 30px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    font-family: 'Open Sans', sans-serif;
}

.login-container h1 {
    text-align: center;
    margin-bottom: 30px;
}

.login-container label {
    display: block;
    margin-bottom: 15px;
}

.login-container input[type="text"], .login-container input[type="password"] {
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
}

.login-container input[type="submit"] {
    width: 100%;
    padding: 15px;
    background-color: #333333;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-container input[type="submit"]:hover {
    background-color: #444444;
}

.login-container a {
    text-decoration: none;
    color: #333333;
    display: block;
    text-align: center;
    margin-top: 20px;
}

.login-container a:hover {
    color: #444444;
}

.login-container img.logo {
    width: 200px;
    margin: 20px auto;
    display: block;
}

/* Media query para ajustar login en dispositivos móviles */
@media (max-width: 768px) {
    .login-container {
        width: 80%;
        padding: 20px;
        margin-top: 10px;
    }
}

@media (max-width: 480px) {
    .login-container {
        width: 90%;
        padding: 10px;
        margin-top: 5px;
    }
}

/* Estilos para la tabla de notas en /ver_notas */

.ver-notas-table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #CCCCCC;
    margin-bottom: 10px;
}

.ver-notas-table th, .ver-notas-table td {
    border: 1px solid #CCCCCC;
    padding: 15px;
    text-align: center;
}

.ver-notas-table th {
    background-color: #333333;
    color: #FFFFFF;
}

.ver-notas-table td {
    background-color: #F7F7F7;
}

.ver-notas-table input[type="number"] {
    width: 100%;
    padding: 4px;
    margin-bottom: 10px;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
}

.ver-notas-table h2 {
    text-align: center;
    margin-bottom: 10px;
}

.ver-notas-container {
    width: 800px;
    margin: 50px auto;
    padding: 10px;
    background-color: #F7F7F7;
    border: 1px solid #CCCCCC;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

/* Estilos para el dashboard */

.dashboard-container {
    width: 90%;
    margin: 50px auto;
    padding: 30px;
    background-color: #F7F7F7;
    border: 1px solid #CCCCCC;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.dashboard-title {
    padding: 20px;
    text-align: center;
    margin-bottom: 30px;
    background-color: #333333;
    color: #FFFFFF;
    border-radius: 10px 10px 0 0;
}

.dashboard-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.dashboard-card {
    width: 300px;
    margin: 20px;
    padding: 30px;
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.dashboard-card ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.dashboard-button {
    width: 100%;
    padding:0px;
    margin: 0;
    color: #000000;
    border: none;
    border-radius: 1px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 600;
}

.dashboard-button:hover {
    background-color: #000000;
    padding: 2px;
    color: #FFFFFF;
    transform: scale(1.1);
    transition: 0.3s ease-in-out;
}

/* Media query para dispositivos móviles */
@media (max-width: 768px) {
    .dashboard-content {
        flex-direction: column;
    }
    .dashboard-card {
        width: 100%;
        margin: 10px 0;
    }
}

/* Estilos para la página de ver estudiantes */

.ver-estudiantes-container {
    width: 90%;
    margin: 50px auto;
    padding: 25px;
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.ver-estudiantes-table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #CCCCCC;
    margin-bottom: 20px;
}

.ver-estudiantes-table th, .ver-estudiantes-table td {
    border: 1px solid #CCCCCC;
    padding: 15px;
    text-align: center;
}

.ver-estudiantes-table th {
    background-color: #333333;
    color: #FFFFFF;
}

.ver-estudiantes-table td {
    background-color: #F7F7F7;
}

.ver-estudiantes-button {
    width: 100%;
    padding: 10px;
    background-color: #333333;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.ver-estudiantes-button:hover {
    background-color: #444444;
}

/* Estilos para la página de registrar pago de profesores */

.registrar-pago-profesor-container {
    width: 85%;
    margin: 20px auto;
    padding: 20px;
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.registrar-pago-profesor-table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #CCCCCC;
    margin-bottom: 20px;
    padding: 20px;
}

.registrar-pago-profesor-table th, .registrar-pago-profesor-table td {
    border: 1px solid #CCCCCC;
    padding: 5px;
    text-align: center;
}

.registrar-pago-profesor-table th {
    background-color: #333333;
    color: #FFFFFF;
}

.registrar-pago-profesor-table td {
    background-color: #F7F7F7;
}

.registrar-pago-profesor-button {
    width: 100%;
    padding: 5px;
    background-color: #333333;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.registrar-pago-profesor-button:hover {
    background-color: #444444;
}