<h2>Crear Nota ({{ materia }})</h2>
<form action="" method="post">
    <label>ID del Estudiante:</label>
    <select name="id_estudiante">
        {% for estudiante in estudiantes %}
        <option value="{{ estudiante[0] }}">{{ estudiante[0] }} - {{ estudiante[1] }}</option>
        {% endfor %}
    </select>
    <br>
    <label>Materia:</label>
    <input type="text" name="materia" value="{{ materia }}" readonly>
    <br>
    <label>Nota:</label>
    <input type="number" name="nota" required>
    <br>
    <input type="submit" value="Crear Nota">
</form>