<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Los Backstreet Boys</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="login-container">
        <h1>Login - Los Backstreet Boys</h1>
        <form action="" method="post">
            <label for="usuario">Usuario:</label>
            <input type="text" id="usuario" name="usuario"><br><br>
            <label for="contrasena">Contraseña:</label>
            <input type="password" id="contrasena" name="contrasena"><br><br>
            <input type="submit" value="Iniciar Sesión">
        </form>
        <p>
            <a href="{{ url_for('verificar_nota') }}">Verificar nota de estudiante</a>
        </p>
    </div>
</body>
</html>